html{
background-image: url("https://static.vecteezy.com/system/resources/thumbnails/000/116/060/small/free-vector-blue-watercolor-background.jpg");
}
h1{
  color:Slateblue;
  font-family:Impact;
}

body {
  background-colour:PaleGoldenRod;
  font-family:TrebuchetMS;
}
