html{
background-color: #b3c6ff;
}
h1{
  color:Slateblue;
  font-family:Impact;
}

body {
  font-family:Trebuchet MS;
}
img {
  border-radius: 8px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
