html{
background-image: url("https://images.pexels.com/photos/531880/pexels-photo-531880.jpeg?auto=compress&cs=tinysrgb&h=350");
}
h1{
  color:Slateblue;
  font-family:Impact;
}

body {
  background-colour:PaleGoldenRod;
  font-family:TrebuchetMS;
}
